
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.landing-page{
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Navbar */
.navbar{
    position: relative;
    left: .3%;
    height: 10vw;
    width: 92.5vw;
    border-radius: 10px;
    margin: 1vw auto 1vw auto;
    box-shadow: -2px 2px 6px 2.5px rgb(196, 192, 192);
    /* background-color: red; */
}

.uppercontainer{
    display: flex;
    height: 6vw;
    width: 100%;
    align-items: center;
}

.lowercontainer{
    /* border: 1px solid red; */
    height: 4vw;
    width: 100%;
    display: flex;
    align-items: center;
}

.lowercontainer > div{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90vw;
    margin: auto;
    /* border: 1px solid green; */
}

.optionboxes{
    display: flex;
    align-items: center;
    height: 100%;
    /* border: 1px solid #333; */
}

.optionboxes:first-child{
    flex-grow: 3;
}
.optionboxes:nth-child(2){
    flex-grow: .2;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow;     */
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
}

.boxes h4{
    text-transform: uppercase;
    font-size: .8vw;
}

.optionboxes:nth-child(2) .boxes h4{
    font-size: 2vw;
    transform: translateY(-.5vw);
}

.optionboxes:last-child input{
    font-size: 1.2vw;
    border: none;
    outline: none;
    height: 90%;
    margin: auto;
}

.optionboxes:last-child i{
    padding: 1vw;
    font-size: 1.5vw;
    color: #676767;
    margin-left: auto;
}

.brand, .account{
    position: relative;
    width: 50%;
    height: 70%;
    /* border: 1px solid #333; */
}

.brand > div{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.brand > div > .brandbox{
    height: 100%;
    /* background-color: grey; */
}

.brandbox:first-child{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brandbox:last-child{
    /* border: 1px solid green; */
    width: 85%;
}

.hamcontainer{
    cursor: pointer;
    height: 2vw;
    width: 2vw;
    /* border: 1px solid red; */
}
.hamburger{
    position: relative;
    top: 1vw;
    background-color: #000;
    height: .1vw;
    width: 2vw;
}

.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    top: -.4vw;
    height: inherit;
    width: inherit;
    background-color: inherit;
}

.hamburger::after{
    top: .4vw;
}

.brandbox .brandnamecontainer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.brandnamecontainer h1{
    cursor: pointer;
    color: #333;
    font-size: 2vw;
    letter-spacing: 4px;
    font-weight: bolder;
}


.account > div{
    /* border: 1px solid red; */
    height: 100%;
    width: 95%;
    margin: auto;
}

.account > div > div {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountbox:first-child{
    margin-left: auto;
}

.accountbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    width: 10vw;
    margin: 1vw;
    cursor: pointer;
}

.accountbox:last-child{
    border: 2px solid #3333;
    border-radius: 3.5vw;
}

.accountbox i{
    color: #23be8b;
    margin: 0 .9vw;
    font-size: 2vw;
    transition: all .2s ease-out;
}

.accountbox i:hover{
    filter: brightness(110%);
}

.accountbox h4{
    transition: all .2s ease-out;
    font-size: 1vw;
    color: rgb(105, 101, 101);
}

.accountbox h4:hover{
    color: #333;
}

/* Image Slider */
#image_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 35vw;
    width: 100vw;
    left: 3.5vw;
    width: 92.45vw;
}

#image_container .images{
    width: 50vw;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    height: 35vw;
    width: 92.5vw;
}

#image_container button{
    z-index: 2;
    outline: none;
    cursor: pointer;
    background-color: aquamarine;
    border: aquamarine;
    border-radius: 1vw;
    margin: 1vw;
    height: 3vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 1vw;
}
/* Intro Box Container and its Elements */
.intro-container{
    position: relative;
    height: 50vw;
    width: 100w;
}

.intro{
    transition: all .4s ease-out;
    position: absolute;
    top: -50%;
    width: 50%;
    left: 10%;
    z-index: 3;
    font-weight: bold;
    background: rgba(3,3,3,.4);
    text-align: center;
    padding: 2vw;
    color: rgb(206, 198, 198);
    border-radius: 10px;
}

#introBtn {
    background-color: aquamarine;
    outline: none;
    border: aquamarine;
    border-radius: 2vw;
    font-family: rajdhani, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin: 1.5vw 0 1.5vw 0;
    padding: .8vw 1.6vw;
    cursor: pointer;
}

.intro .introHead{
    font-size: 2.2vw;
    color: #fff;
}
.intro .introPara{
    color: rgb(255, 255, 255);
}

/* Intro Box Animations */
.intro-box-animation{
    transition: all .4s ease-out;
    opacity: 1;
    transform: scale(1);
}

.intro-box-rm{
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-out;
}

.introHead-animation{
    transition: all .4s ease-out;
    transform: translateY(0);
    opacity: 1;
}

.introHead-rm{
    transform: translateY(-50vw);
    opacity: 0;
}
.introPara-animation{
    transition: all .5s ease-out;
    transform: translateY(0);
    opacity: 1;
}

.introPara-rm{
    transform: translateY(-50vw);
    opacity: 0;
}
.intro-Btn-animation{
    transition: all .5s ease-out;
    transform: translateX(0);
    opacity: 1;
}

.intro-Btn-rm{
    transform: translateX(-50vw);
    opacity: 0;
}


.off{
    transition: all 1.2s .4s ease-out;
    transform: translateX(-200vw);
}

.on{
    transition: all 1.5s ease-out;
    transform: translateX(0);
    z-index: 1;
}


@media only screen and (max-width: 800px){
    .navbar{
        margin: 2.5vw auto;
    }
    .intro{
        top: -55%;
        width: 50%;
        left: 13%;
    }
    
    .intro .introHead{
        font-size: 2vw;
        color: #fff;
    }
    .intro .introPara{
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
    }
}
